<div class="block">
    <h1>Teach no course</h1>

    <table class="table">
        <tr>
            <th>Instructor Name</th>
        </tr>

        <% teachs.forEach(name => { %>
            <tr>
                <td>
                    <%= name['instructor_name'] %>
                </td>
            </tr>
            <% }) %>

    </table>

</div>

<div class="block">
    <h1>Course no teach</h1>

    <table class="table">
        <tr>
            <th>Course Name</th>
        </tr>

        <% coures.forEach(name => { %>
            <tr>
                <td>
                    <%= name['coures_name'] %>
                </td>
            </tr>
            <% }) %>

    </table>

</div>