<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homework11_1</title>
    <link rel="stylesheet" href="styles/mian_style.css">
</head>

<body>
    <table class="table">
        <% key.forEach(keyData => { %>
            <th>
                <%= keyData %>
            </th>
            <% }) %>
                <% data.forEach(jsonData => { %>
                    <tr>
                        <% for(let key in jsonData) { %>
                            <td>
                                <%= jsonData[key] %>
                            </td>
                            <%} %>
                    </tr>
                    <% }) %>
    </table>
</body>

</html>