.table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 25%;
    margin: auto;
}

.table-search {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 60%;
    margin: auto;
}

.table td, .table th , .table-search td, .table-search th {
    border: 1px solid rgb(179, 179, 179);
    padding: 5px;
}

.table tr:hover , .table-search tr:hover {background-color: #ddd;}

.table th , .table-search th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color: rgb(30, 32, 56);
    color: white;
}

.block {
    margin: 4%
}

.block h1 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 70%;
    margin: auto;
    margin-bottom: 1%;
    text-align: center;
}

.form-search {
    text-align: right;
    width: 80%;
    margin: auto;
}

.text-format {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
/* CSS input type */

input[type=text], select {
    width: 30%;
    padding: 8px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 10%;
    background-color: rgb(48, 46, 75);
    color: white;
    padding: 10px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #4f4668;
}