.body {
    margin: auto;
}

.table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}

.table td, .table th {
    border: 1px solid #ddd;
    padding: 5px;
}

.table tr:nth-child(even){background-color: #f2f2f2;}

.table tr:hover {background-color: #ddd;}

.table th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color: rgb(63, 56, 85);
    color: white;
}