body {
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
}

div {
  text-align: center;
  width: 500px;
  margin: auto;
}

.navbar {
  list-style-type: none;
  background-color: #a3a3a3;
  width: 100%;
  height: 50px;
  margin: 0;
  top: 0;
  overflow: hidden;
  padding: 0;
}

.navbar li {
  display: inline;
  float: left;
}

.navbar li a {
  color: white;
  padding: 14px 16px;
  display: block;
  text-decoration: none;
  height: 50px;
}

.navbar li a:hover:not(.active) {
  background-color: #000066;
}

.active {
  background-color: #99ccff;
}

.contact li {
  list-style-type: none;
}

article {
  margin: auto;
}

.text-p {
  text-indent: 50px;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 3%;
}

.text-skill {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 3%;
}

form {
  margin-top: 1%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 1%;
}

.layout-table {
  width: 45%;
  margin: auto;
}
