@import "~bootstrap/dist/css/bootstrap.min.css";

.block {
  margin: 5%;
}

.dropdown {
  text-align: right;
}

.form-inline {
  padding-left: 70%;
}

.custom-select {
  margin-left: 2%;
}

.text-block {
  margin-top: 2%;
  padding-left: 5%;
  padding-right: 50%;
}

.subtitle1 {
  color: black;
  margin-bottom: 3%;
}

.subtitle2 {
  color: #660000;
  margin-bottom: 3%;
}

.subtitle3 {
  color: #29293d;
  margin-bottom: 3%;
}

.text-justify1 {
  color: black;
}

.text-justify2 {
  color: #ff0000;
}

.text-justify3 {
  color: #666699;
}
