<div class="block">
    <h3>Name : <%= rowsCourseDetail.course_name %></h3>
    <h3>Price : $<%= rowsCourseDetail.price %></h3>
    <h3>Teach by : <%= rowsCourseDetail.teach_name == null ? `No teach` : rowsCourseDetail.teach_name %></h3>
    <div class="block">

        <h4 class="ml-15">Students to enroll</h4>

        <table class="table ml-15">
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>

            <% rowsStudent.forEach(student => { %>
                <tr>
                    <td>
                        <%= student.id %>
                    </td>
                    <td>
                        <%= student.name %>
                    </td>
                </tr>
                <% }) %>

        </table>

    </div>
</div>