<div class="block">
    <h1>course</h1>

    <div class="form-search">
        <form method="GET">
            <label class="text-format" for="search">Search courses</label>
            <input class="text-format" type="text" id="search_course" name="search_course" placeholder="Search..">

            <input type="submit" value="Submit">
        </form>
    </div>

    <table class="table-search">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Teach by</th>
        </tr>

        <% dataCourse.forEach(courseName => { %>
            <% let nameCourses = `<tr onClick="document.location='course/${courseName.course_name.toLowerCase()}'">` %>

            <%- nameCourses %>
                <td>
                    <%= courseName.id %>
                </td>
                <td>
                    <%= courseName.course_name %>
                </td>
                <td>
                    <%= courseName.price %>
                </td>
                <td>
                    <%= courseName.teach_name %>
                </td>
            </tr>
        <% }) %>
    </table>

</div>