<div class="block">

    <h1>Total price course</h1>

    <table class="table">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
        </tr>

        <% dataCourses.forEach(data => { %>
            <tr>
                <% if(data.id) { %>
                    <td>
                        <%= data.id %>
                    </td>
                    <td>
                        <%= data.name %>
                    </td>
                    <td>
                        <%= data.price %>
                    </td>

                    <% } else { %>

                        <th class="total" colspan="2">
                            <%= data.name %>
                        </th>
                        <th class="total">
                            <%= data.price %>
                        </th>
                        <% }  %>
            </tr>
            <% } ) %>

    </table>
</div>

<div class="block">

    <h1>Student enroll</h1>

    <table class="table">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Total course enroll</th>
            <th>Total price</th>
        </tr>

        <% dataStudents.forEach(data => { %>
            <tr>
                <td>
                    <%= data.id %>
                </td>
                <td>
                    <%= data.name %>
                </td>
                <td>
                    <%= data.total_course_enroll %>
                </td>
                <td>
                    <%= data.total_price %>
                </td>
            </tr>
            <% } ) %>
    </table>
</div>