<div class="block">
<h1>Table Staff</h1>
<table class="table">
<tr>
<% keyStaff.forEach(keyData => {%>
<th><%= keyData.charAt(0).toUpperCase() + keyData.slice(1) %></th>
<% }) %>
</tr>

<% dataStaff.forEach(dataDetile => { %>
<tr>

<% for(let key in dataDetile) { %>
<td><%= dataDetile[key] %></td>
<% } %>

</tr>
<% }) %>
</table>
</div>

<div class="block">
<h1>Table Book</h1>
<table class="table">
<tr>
<% keyBook.forEach(keyData => {%>
<th><%= keyData.charAt(0).toUpperCase() + keyData.slice(1) %></th>
<% }) %>
</tr>

<% dataBook.forEach(dataDetile => { %>
<tr>

<% for(let key in dataDetile) { %>
<td><%= dataDetile[key] %></td>
<% } %>

</tr>
<% }) %>
</table>
</div>