.table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 70%;
    margin: auto;
}

.table td, .table th {
    border: 1px solid rgb(179, 179, 179);
    padding: 5px;
}

.table tr:hover {background-color: #ddd;}

.table th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color: rgb(30, 32, 56);
    color: white;
}

.block {
    margin: 4%
}

.block h1 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 70%;
    margin: auto;
    margin-bottom: 1%;
}