html {
  background: #283125;
}

body {
  margin-left: 0;
  margin-right: 0;
  background-color: #283125;
}

@media (min-width: 276px) {
  .flex-container {
    max-width: 90%;
    flex-direction: column;
    align-items: center;
  }
  .itmes-gallery {
    margin: 3%;
    width: 95%;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 568px) {
  .flex-container {
    max-width: 95%;
    flex-direction: row;
  }
  .itmes-gallery {
    margin: 1%;
    width: 100%;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 892px) {
  .flex-container {
    max-width: 95%;
    flex-direction: row;
  }
  .itmes-gallery {
    margin: 1%;
    width: 15%;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .flex-container {
    max-width: 95%;
    flex-direction: row;
  }
  .itmes-gallery {
    margin: 1%;
    width: 10%;
  }
}
.flex-container {
  width: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

h5 {
  margin: 0;
  color: white;
}

.itmes {
  margin: 1%;
}

.itmes-gallery {
  padding: 0 0px 20px;
}

.detail {
  padding: 10px;
  margin-left: 0;
  margin-right: 0;
  text-align: left;
}

.description {
  margin: 0;
}

img {
  width: 100%;
}

*,
:after,
:before {
  box-sizing: border-box;
}

.box-display {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.card {
  background: #1a2018;
  margin: 1%;
}

.card-title {
  font-weight: 400;
}

.card-text {
  color: white;
  font-weight: 200;
}

.btn-success {
  background-color: #283125;
  border-color: #fff;
}
