<div class="block">

    <h1>Instructor</h1>

    <table class="table">
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>

        <% rowData.forEach(data => { %>
            <tr>
                <td>
                    <%= data.id %>
                </td>
                <td>
                    <%= data.name %>
                </td>
            </tr>
            <% }) %>
    </table>
</div>