<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homework16_2</title>
    <link rel="stylesheet" href="/styles/main_style.css">
</head>

<body>
    <%- body %>
</body>

</html>