.table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}

.table td, .table th {
    border: 1px solid rgb(179, 179, 179);
    padding: 5px;
}

.table tr:nth-child(even){background-color: #e0eefa;}

.table tr:hover {background-color: #ddd;}

.table th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color: rgb(36, 40, 88);
    color: white;
}