<header>
<ul class="navbar">
    <li>
        <a class="active" href="/">About Me</a>
    </li>
    <li>
        <a href="/skill">Skill</a>
    </li>
    <li>
        <a href="/contact">Contact us</a>
    </li>
    <li>
        <a href="/portfolio">Portfolio</a>
    </li>
</ul>
</header>
<h1>About Me</h1>
<div>
<img src="images/profile.jpg" width="200px" height="200px" />
</div>

<article class="text-p">
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
    dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
    specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
    essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
    passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem
    Ipsum.
</p>
</article>