<header>
<ul class="navbar">
    <li>
        <a href="/">About Me</a>
    </li>
    <li>
        <a href="/skill">Skill</a>
    </li>
    <li>
        <a class="active" href="/contact">Contact us</a>
    </li>
    <li>
        <a href="/portfolio">Portfolio</a>
    </li>
</ul>
</header>
<h1>Contact Me</h1>

<ul class="contact text-skill">
<li>Phone : 090-9795189</li>
<li>Email : thanapon.jsn@gmail.com</li>
<li>Line ID : pat501</li>
<li>Website : www.google.co.th</li>
<li>Address : เคหะแจ้งวัฒนะ ซอยแจ้งวัฒนะ14 ถนนแจ้งวัฒนะ แขวงทุ่งสองห้อง เขตหลักสี่ กรุงเทพฯ 10210</li>
</ul>