<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="styles/styletable.css">
</head>

<body>

    <table class="table">
    <% keys.forEach(key => { %>
    <th><%= key %></th>
    <% }) %>
    <% datas.forEach(data => { %>
    <tr>
    <% for(let key in data) { %>
    <td><%= data[key] %></td>
    <%} %>
    </tr>
    <% }) %>
    </table>

</body>

</html>