    <header>
        <ul class="navbar">
            <li>
                <a href="/">About Me</a>
            </li>
            <li>
                <a href="/skill">Skill</a>
            </li>
            <li>
                <a href="/contact">Contact us</a>
            </li>
            <li>
                <a class="active" href="/portfolio">Portfolio</a>
            </li>
        </ul>
    </header>