<header>
<ul class="navbar">
    <li>
        <a href="/">About Me</a>
    </li>
    <li>
        <a class="active" href="/skill">Skill</a>
    </li>
    <li>
        <a href="/contact">Contact us</a>
    </li>
    <li>
        <a href="/portfolio">Portfolio</a>
    </li>
</ul>
</header>
<h1>Skill</h1>

<ul class="text-skill">
<li>Javascript</li>
<li>HTML</li>
<li>MySQL</li>
<li>NodeJS</li>
<li>Koa</li>
<li>Cloud Deployment</li>
<li>Algorithm: Data Structure</li>
</ul>